<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
    <h1>Order your taco creations!</h1>

    <img th:src="@{/images/TacoCloud.png}"/>
    <a id="another" th:href="@{/design}">Design another taco</a><br/>

    <h3>Deliver my taco masterpieces to...</h3>
    <label for="deliveryName">Name: </label>
    <input th:field="*{deliveryName}" type="text"/>
    <br/>

    <label for="deliveryStreet">Street address: </label>
    <input th:field="*{deliveryStreet}" type="text"/>
    <br/>

    <label for="deliveryCity">City: </label>
    <input th:field="*{deliveryCity}" type="text"/>
    <br/>

    <label for="deliveryState">State: </label>
    <input th:field="*{deliveryState}" type="text"/>
    <br/>

    <label for="deliveryZip">Zip code: </label>
    <input th:field="*{deliveryZip}" type="text"/>
    <br/>

    <h3>Here's how I'll pay...</h3>
    <label for="ccNumber">Credit Card #: </label>
    <input th:field="*{ccNumber}" type="text"/>
    <br/>

    <label for="ccExpiration">Expiration: </label>
    <input th:field="*{ccExpiration}" type="text"/>
    <br/>

    <label for="ccCVV">CVV: </label>
    <input th:field="*{ccCVV}" type="text"/>
    <br/>

    <input type="submit" value="Submit Order"/>
</form>
</body>
</html>